.App {
  text-align: center;
}
body {
  background-color: rgb(167, 217, 247);
}
.nav {
  background-color: rgb(161, 39, 39);
  padding-top: 2%;
}
a {
  text-decoration: none;
  width: 15vw;
  height: 20vh;
  margin: 5%;
  color: white;
}
ul {
  list-style-type: none;
}
.loginForm,
.newFriendForm {
  margin: 15%;
}
input {
  margin: 2%;
}
.flcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.friend {
  width: 30%;
  border: 4px inset rgb(161, 39, 39);
  background-color: white;
  margin: 1%;
}
button {
  background-color: rgb(161, 39, 39);
  border: 3px inset gold;
  color: white;
  margin-bottom: 2%;
}
button:hover {
  background-color: rgb(167, 217, 247);
  border: 3px inset gold;
  color: white;
}